@import url(board.css);
@import url(win.css);
@import url(scoreBoard.css);
@import url(ia.css);

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
}

*, *::after, *::before{
  box-sizing: border-box;
}

:root{
  --black-color: #000000;
  --gray-color: #c0c0c0;
  --white-color: #ffffff;

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .8);
}

html{
  font-size: 16px;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  background-color: var(--white-color);
}

#tic-tac-toe{
  width: 100vw;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}