#scoreBoard{
  width: 350px;

  margin-top: 80px;

  position: fixed;
  bottom: 0;
}

.scoreArea{
  display: flex;

  width: 334px;
  margin-left: 16px;
}

.score{
  width: 50%;
  height: 48px;

  font-size: 48px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topBorder{
  box-shadow: 0px -3px 0 0 var(--black-color);
  border-radius: 10px;
}

.xArea{
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
}

.xArea::before, .xArea::after{
  content: '';

  width: 8.8px;
  height: 48px;

  position: absolute;
  border-radius: 16px;
}

.xArea::before{
  transform: rotate(45deg);
}

.xArea::after{
  transform: rotate(-45deg);
}

.xArea::before, .xArea::after, .oArea::before{
  background-color: var(--black-color);
} 

.oArea{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
}

.oArea::before, .oArea::after{
  content: '';

  position: absolute;
  border-radius: 50%;
}

.oArea::before{
  width: 41.6px;
  height: 41.6px;
}

.oArea::after{
  width: 24px;
  height: 24px;

  background-color: var(--white-color);
}

#xScore::before, #oScore::before{
  content: '';
  font-size: 48px;
}

#xScore, #oScore{
  font-weight: bold;
  width: 128px;
}

.winnerIconArea{
  display: flex;
  
  width: 334px;
  margin-left: 16px;
}

.winnerIcon{
  width: 50%;
  height: 64px;

  -webkit-transform: translate(-60.5px, -24px);-ms-transform: translate(-60.5px, -24px);transform: translate(-60.5px, -24px);
}